/**RESETS **/

* { 
    margin: 0;
    padding: 8;
}

/**FIN RESETS **/

body {
    background-color: #eee;
    padding: 0px 10px 5px 20px;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

h1 {
    font-size: 1rem;
}

.card__container {
    max-width: 320px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.card__img {
    width: 100%;
    border-radius: 10px;
}

.card__properties-list {
    padding: 5px;
    display: flex;
    list-style-type: none;
    gap: 10px;
    justify-content: center;
}

.card__info-list {
    display: flex;
    list-style-type: none;
    gap: 10px;  
    justify-content: space-evenly;
}

.card__info-container {
    background-color: #eee;
    padding: 0.5rem;
    margin-top: 10px;
}

.card__title-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin: 10px 0;
    padding-left: 10px; 
    padding-right: 10px;
}

.card__title-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card__price-container {
    text-align: right;
}
